<div class="row">
    <div class="small-12 columns">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Asset Management</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/profile.php">Profile</a></li>
                    <li><a href="/about-us.html">About Us</a></li>
                    <li><a href="/contact-us.html">Contact Us</a></li>
                    <li><a href="/assets/php/logout.php" type="button" class="button">Logout</a></li>
                </ul>
            </div>
            <div class="top-bar-right">
                <form action="">
                    <ul class="menu">
                        <li><input type="search" placeholder="Search for Employees"></li>
                        <li><input type="submit" class="button"></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>